<div class="container">
  <div class="card bg-dark text-white m-3 mt-5">
    <h5 class="card-header text-center">
      <img src="../assets/lco.png" alt="" width="30" height="30" class="mr-2" />
      LCO Signup Form
    </h5>
    <div class="card-body">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-6">
            <label>First Name</label>
            <input
              formControlName="firstName"
              type="text"
              [ngClass]="{ 'is-invalid': submitted && Helper.firstName.errors }"
              class="form-control"
            />
            <div
              *ngIf="submitted && Helper.firstName.errors"
              class="text-warning"
            >
              <div *ngIf="Helper.firstName.errors.required">
                First Name is Required
              </div>
              <!-- *ngIf="
                  Helper.firstName.errors.required &&
                  (Helper.firstName.errors.minlength.requiredLength >
                    Helper.firstName.errors.minlength.actualLength)
                " -->
              <div *ngIf="Helper.firstName.errors.minlength">
                First Name should be of minimum 3 characters
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Last Name</label>
            <input
              [ngClass]="{ 'is-invalid': submitted && Helper.lastName.errors }"
              formControlName="lastName"
              type="text"
              class="form-control"
            />
            <div
              class="text-warning"
              *ngIf="submitted && Helper.lastName.errors"
            >
              <div *ngIf="Helper.lastName.errors.required">
                Last Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            [ngClass]="{ 'is-invalid': submitted && Helper.email.errors }"
            formControlName="email"
            type="text"
            class="form-control"
          />
          <div
            class="text-warning"
            *ngIf="Helper.email.touched && Helper.email.errors"
          >
            <div *ngIf="Helper.email.errors.required">Email is required</div>
            <div *ngIf="Helper.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <!-- <ng-container>
          <div class="text-danger">Value is required.</div>
        </ng-container> -->
        <div class="form-row">
          <div class="form-group col">
            <label>Password</label>
            <input
              [ngClass]="{ 'is-invalid': submitted && Helper.password.errors }"
              formControlName="password"
              type="password"
              class="form-control"
            />
            <div
              class="text-warning"
              *ngIf="Helper.password.touched && Helper.password.errors"
            >
              <div *ngIf="Helper.password.errors.required">
                Password is required
              </div>
              <div *ngIf="Helper.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label>Confirm Password</label>
            <input
              [ngClass]="{
                'is-invalid': submitted && Helper.confirmPassword.errors
              }"
              formControlName="confirmPassword"
              type="password"
              class="form-control"
            />
            <div
              class="text-warning"
              *ngIf="
                Helper.confirmPassword.touched && Helper.confirmPassword.errors
              "
            >
              <div *ngIf="Helper.confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="Helper.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input
            [ngClass]="{ 'is-invalid': submitted && Helper.isAccepted.errors }"
            formControlName="isAccepted"
            type="checkbox"
            id="acceptTerms"
            class="form-check-input"
          />
          <label for="acceptTerms" class="form-check-label"
            >Accept Terms & Conditions</label
          >
          <div *ngIf="Helper.isAccepted.errors && Helper.isAccepted.touched" class="text-warning">Accept Ts & Cs is required</div>
        </div>
        <div class="text-center">
          <button class="btn btn-success btn-lg px-4 mr-3">Register</button>
          <button class="btn btn-warning" type="reset" (click)="onReset()">
            Reset
          </button>
          <p class="text white">Value: {{ signUpForm.value | json }}</p>
          <p class="text white">Value: {{ signUpForm.valid | json }}</p>
        </div>
      </form>
    </div>
  </div>
</div>
